<p id="notice"><%= notice %></p>

<p class="tbody">
  <strong>Name:</strong>
  <%= @room.name %>
  <strong>Subject:</strong>
  <%= @room.subject %>

</p>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<% if signed_in? %>
  <h4>Add a message:</h4>
  <%= form_for([@room, @room.messages.build]) do |f| %>
    <p>
      <%= f.label :body, "Messages" %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>

<div class="product-reviews tbody">
    <% @messages.each do |message| %>
      <div class="row">
        <div class="column">


          <hr>
          <p><a href="/users/<%= message.user_id %>" class="time"><%= message.user.name if message.user %></a> posted <%= "#{time_ago_in_words(message.created_at || Time.now)} ago" %>
            <% if current_user && current_user == message.user %>
              <%= link_to ('<i class="far fa-times-circle"></i>').html_safe, room_message_path(room_id: @room.id, id: message.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <% if signed_in? && current_user.admin? %>
              <%= link_to ('<i class="far fa-times-circle"></i>').html_safe, room_message_path(room_id: @room.id, id: message.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
          <p class="message"><%= message.body %></p>
        </div><!-- end col -->
      </div><!-- end row -->
    <% end %>
</div><!-- end product reivews -->

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<!-- <#% @rooms.each do |room| %>
  <a href="<#%= room.id %>"><#%= room.name %></a>
<#% end %> -->
